 // Input data
params.wkdir = "/group/transreg/thpuy/vHRR"
params.tmpdir = "${params.wkdir}/tmp"
params.scripts = "${params.wkdir}/scripts"
params.atlas = "${params.wkdir}/input/example_atlas_1.tsv"
params.go_gene = "${params.wkdir}/input/go_gene_ic.tsv"
params.out_folder = "${params.wkdir}/output"
params.sample_weighing = ""


executor{
  queueSize=100
}

process {

  withName: prepare_starter_pack {
    executor = 'sge'
    cpus = 1
    clusterOptions = '-l h_vmem=1G'
  }

  withName: scan_HRR {
    executor = 'sge'
    cpus = 1
    clusterOptions = '-l h_vmem=1G'
  }

  withName: evaluate_predictions {
    executor = 'sge'
    cpus = 1
    clusterOptions = '-l h_vmem=1G'
  }
}
